---
import HomeLayout from "../../layouts/HomeLayout.astro";
---

<HomeLayout title="About">
  <main class="max-w-screen-2xl mx-auto">
    <h1>About</h1>
    <p>This is the about page.</p>
  </main>
</HomeLayout>
