---
import HomeLayout from "@/layouts/HomeLayout.astro";
import RegisterUserForm from "../../components/users/RegisterUserForm.astro";
import Layout from "../../layouts/Layout.astro";
---

<HomeLayout title="New Form">
  <main class="max-w-screen-2xl mx-auto">
    <RegisterUserForm />
  </main>
</HomeLayout>
