---
import NewForm from "../../../components/events/NewForm.astro";
import HomeLayout from "@/layouts/HomeLayout.astro";
---

<HomeLayout title="Create new event">
  <main class="max-w-screen-2xl mx-auto">
    <NewForm />
  </main>
</HomeLayout>
