---
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";
import UserAvatar from "./UserAvatar.astro";
import ThemeToggle from "../shared/ThemeToggle.astro";

const links = [
  { href: "/", text: "Home" },
  { href: "/events", text: "Events" },
  { href: "/about", text: "About" },
];

const pathname = new URL(Astro.request.url).pathname;
---

<header class="sticky top-0 z-50 shadow-md dark:bg-gray-800 bg-white">
  <div
    class="max-w-screen-2xl mx-auto flex justify-between py-4 dark:bg-gray-800 bg-white"
  >
    <Astronav closeOnClick />
    <div class="flex w-full lg:w-auto justify-between">
      <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
        <img src="/favicon.svg" class="h-8" alt="Flowbite Logo" />
        <span
          class="self-center text-2xl font-bold whitespace-nowrap dark:text-white"
          >Astro Events</span
        >
      </a>
      <div class="block lg:hidden">
        <MenuIcon class="w-4 h-4 text-gray-800" />
      </div>
    </div>
    <MenuItems class="hidden lg:flex justify-center w-full">
      <ul class="flex flex-col lg:flex-row lg:gap-5 justify-center">
        {
          links.map((link) => (
            <li>
              <a
                href={link.href}
                class={`block py-2 px-3${pathname == link.href ? "text-primary underline dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-700" : "text-gray-500 dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-700 hover:underline"}`}
              >
                {link.text}
              </a>
            </li>
          ))
        }
      </ul>
    </MenuItems>
    <UserAvatar />
  </div>
</header>
